@font-face{
  font-family: 'ComicRunes';
  src: url('/fonts/ComicRunes.woff2') format('woff2'),
  url('/fonts/ComicRunes.woff') format('woff'),
  url('/fonts/ComicRunes.ttf') format('truetype');
}
.clear{
  clear: both;
}
body{
  background: #C5D6E2;
}
nav{
  height: 80px;
  width: 100%;
  position: absolute;
  padding: 0 120px;
  box-sizing: border-box;
  z-index: 999;
}
nav img{
  height: 100px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: border-bottom .2s ease-out;
}
nav ul{
  float: right;
}
nav ul li{
  float: left;
  margin: 0 50px;
  line-height: 100px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: border-bottom .2s ease-out;
}
nav ul li:last-of-type{
  margin-right: 0px;
}
nav a{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
nav img:hover{
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}
nav ul li:hover{
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}
header{
  height: 700px;
  position: relative;
  background: #C5D6E2;
  background-image: url("/img/repeatableClouds.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1000px;
}
header img{
  width: 600px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
header #subLogo{
  width: 600px;
  position: absolute;
  bottom: 70px;
  right: 50px;
  text-align: center;
  font-family: 'Comic Runes';
  text-transform: uppercase;
  font-size: 45px;
  color: #E5AF40;
  text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
main{
  background: white;
}
.container{
  width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
.containerLarge{
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
a.download:hover > .btnCloud{
  top: 130px;
}
.btnDownload{
  height: 500px;
  position: absolute;
  right: 250px;
  top: 60px;
}
.btnCloud{
  width: 600px;
  position: absolute;
  right: 0;
  top: 135px;
  transition: all .2s ease-out;
}
.btnText{
  position: absolute;
  right: 150px;
  top: 400px;
  font-family: 'Comic Runes';
  font-size: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.breakSection{
  background: #C5D6E2;
  border-top: 2px solid #6699CC;
  border-bottom: 2px solid #6699CC;
}
.accordion{
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover{
  background-color: #CCC;
}
.accordion:after{
  content: '\02795';
  font-size: 13px;
  float: right;
  margin-left: 5px;
}
.active:after{
  content: "\2796";
}
.panel{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#opdracht1{
  background-color: rgba(76, 175, 78, 0.8);
}
#opdracht1.active, #opdracht1:hover{
  background-color: rgba(76, 175, 78);
}
#opdracht1.active{
  border-bottom: 1px solid rgb(196, 217, 93);
}
#opdracht1 + .panel{
  background-color: rgba(76, 175, 78);
  background-image: url(/img/backgroundDraak.png);
  background-size: 700px;
}
#opdracht2{
  background-color: rgba(141, 97, 80, 0.8);
}
#opdracht2.active, #opdracht2:hover{
  background-color: rgb(141, 97, 80);
}
#opdracht2.active{
  border-bottom: 1px solid rgb(247, 156, 126);
}
#opdracht2 + .panel{
  background-color: rgb(141, 97, 80);
  background-image: url(/img/backgroundMinotaurus.png);
  background-size: 700px;
}
#opdracht3{
  background-color: rgba(239, 68, 56, 0.8);
}
#opdracht3.active, #opdracht3:hover{
  background-color: rgb(239, 68, 56);
}
#opdracht3.active{
  border-bottom: 1px solid rgb(248, 153, 29);
}
#opdracht3 + .panel{
  background-color: rgb(239, 68, 56);
  background-image: url(/img/backgroundFeniks.png);
  background-size: 700px;
}
#opdracht4{
  background-color: rgba(44, 55, 136, 0.8);
}
#opdracht4.active, #opdracht4:hover{
  background-color: rgb(44, 55, 136);
}
#opdracht4.active{
  border-bottom: 1px solid rgb(19, 17, 53);
}
#opdracht4 + .panel{
  background-color: rgb(44, 55, 136);
  background-image: url(/img/backgroundZeemeermin.png);
  background-size: 700px;
}
#opdracht5{
  background-color: rgba(245, 165, 200, 0.8);
}
#opdracht5.active, #opdracht5:hover{
  background-color: rgb(245, 165, 200);
}
#opdracht5.active{
  border-bottom: 1px solid rgb(249, 242, 191);
}
#opdracht5 + .panel{
  background-color: rgb(245, 165, 200);
  background-image: url(/img/backgroundEenhoorn.png);
  background-size: 700px;
}
.panelWrapper{
  width: 600px;
  margin: 0 auto 20px;
  padding: 100px 0 0;
}
.panelWrapper img{
  height: 300px;
  float: left;
  margin-right: 100px;
}
.panel .container{
  width: 860px;
  padding: 30px;
  background: rgba(255, 255, 255, .5);
  margin-bottom: 100px;
}
.panel .container p{
  margin-bottom: 0;
}
footer{
  height: 500px;
  background: #C5D6E2;
  background-image: url("/img/repeatableClouds.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1000px;
  transform: scaleY(-1);
}

/* Typography */
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}
.accordion{
  font-size: 20px;
}
a{
  color: #000;
  text-decoration: none;
}
h1{
  font-family: 'Comic Runes';
  font-size: 2em;
  margin-bottom: 1.5em;
}
p{
  margin-bottom: 1.5em;
}
.panelWrapper h2{
  font-family: 'Comic Runes';
  font-size: 2em;
  margin-top: 50px;
  line-height: 1em;
  margin-bottom: .5em;
}
.panelWrapper h3{
  font-size: 1.2em;
  font-weight: 600;
}