@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,600");

html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
  text-align: center;
}
#hero {
  width: 100%;
  height: 800px;
  background-image: url("../src/img_hero.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  margin-bottom: -50px;
}
#hero h1 {
  padding-top: 150px;
  margin: 0;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
}
#hero p {
  margin: 0;
}
#hero img {
  margin-top: -70px;
}
nav {
  display: block;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 40px;
  padding: 0 20%;
}
nav a.left {
  float: left;
}
nav a.right {
  float: right;
  margin-left: 10px;
}
nav a:hover{
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}
.part {
  width: auto;
  height: auto;
  padding-top: 3em;
  padding-bottom: 7em;
  box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.4);
}
.part:nth-of-type(1) {
  background-color: #fff;
  box-shadow: none;
}
.part:nth-of-type(2) {
  background-color: #ffd7d7;
}
.part:nth-of-type(3) {
  background-color: #ffb7b7;
}
.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.column {
  flex: 50%;
}
.title h1 {
  font-size: 3em;
  margin: 0;
  font-weight: 600;
}
.title p {
  margin: 0;
  font-weight: 300;
}
h2 {
  margin-top: 3em;
  font-weight: 400;
}
.bar {
  margin: 0 auto;
  background-color: #cdcdcd;
  height: 1.5em;
  width: 350px;
  border: 1px solid black;
  font-size: 0.9em;
  color: #fff;
  box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.53);
}
.bar div {
  margin: 0;
  margin-bottom: -1.17em;
}
.progress {
  height: 100%;
  background-color: rgba(255, 170, 0);
  transition: width 2s, background-color 2s;
  transition-timing-function: ease-in-out;
  width: 0%;
}
footer {
  background-color: #6a0e0e;
  padding-top: 3em;
  padding-bottom: 0.5em;
  color: #fff;
  box-shadow: inset 0px 14px 21px -8px rgba(0, 0, 0, 0.41);
}
footer p {
  margin: 0;
  font-size: 0.9em;
}
footer p:last-of-type {
  padding-top: 8em;
}