@font-face{
  font-family: 'ComicRunes';
  src: url('/fonts/ComicRunes.woff2') format('woff2'),
  url('/fonts/ComicRunes.woff') format('woff'),
  url('/fonts/ComicRunes.ttf') format('truetype');
}
.clear{
  clear: both;
}
body{
  background: #6699CC;
}
nav{
  height: 80px;
  width: 100%;
  position: absolute;
  padding: 0 120px;
  box-sizing: border-box;
  z-index: 999;
}
nav img{
  height: 100px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: border-bottom .2s ease-out;
}
nav ul{
  float: right;
}
nav ul li{
  float: left;
  margin: 0 50px;
  line-height: 100px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: border-bottom .2s ease-out;
}
nav ul li:last-of-type{
  margin-right: 0px;
}
nav a{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
nav ul li:hover{
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}
header.home{
  height: 1100px;
  position: relative;
  background: #6699CC;
  background-image: url("/img/repeatableClouds.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1500px;
}
header.home #logo{
  width: 1200px;
  position: absolute;
  top: 100px;
  left: -200px;
}
header.home #subLogo{
  width: 600px;
  position: absolute;
  top: 495px;
  left: 85px;
  text-align: center;
  font-family: 'ComicRunes';
  text-transform: uppercase;
  font-size: 45px;
  color: #E5AF40;
  text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
header.home #illustration{
  float: right;
  transform: scaleX(-1);
  width: 465px;
  margin-top: 480px;
  margin-right: 120px;

}
header.workshop{
  height: 700px;
  position: relative;
  background: #6699CC;
  background-image: url("/img/repeatableClouds.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 1000px;
}
header.workshop #logo{
  width: 1200px;
  position: absolute;
  bottom: -100px;
  right: -260px;
}
header.workshop #subLogo{
  width: 600px;
  position: absolute;
  bottom: 70px;
  right: 50px;
  text-align: center;
  font-family: 'ComicRunes';
  text-transform: uppercase;
  font-size: 45px;
  color: #E5AF40;
  text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
main{
  background: white;
}
.container{
  width: 800px;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-gap: 20px;
}
.containerLarge{
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-gap: 20px;
  position: relative;
}
.leftHalf{
  grid-column: 1;
}
.leftHalf img{
  width: 100%;
  height: auto;
}
.rightHalf{
  grid-column: 2;
}
.leftTri{
  grid-column: 1;
  margin-left: 0;
}
.middleTri{
  grid-column: 2;
}
.rightTri{
  grid-column: 3;
}
.container + .container{
  padding-top: 0;
  margin-top: -50px;
}
iframe{
  width: 100%;
  height: 450px;
  border-radius: 10px;
}
.sectionLeft .container{
  padding-left: 200px;
}
.sectionRight .container{
  padding-right: 200px;
}
a.download:hover > .btnCloud{
  top: 130px;
}
a.download:hover > .btnDownload{
  top: 55px;
}
a.download:hover > .btnText{
  top: 395px;
}
.btnDownload{
  height: 500px;
  position: absolute;
  right: 250px;
  top: 60px;
  transition: all .2s ease-out;
}
.btnCloud{
  width: 600px;
  position: absolute;
  right: 0;
  top: 135px;
  transition: all .2s ease-out;
}
.btnText{
  position: absolute;
  right: 150px;
  top: 400px;
  font-family: 'ComicRunes';
  font-size: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-out;
}
.sectionCentered{
  background: #C5D6E2;
  border-top: 2px solid #6699CC;
  border-bottom: 2px solid #6699CC;
}
.sectionLeft{
  background: #C5D6E2;
  border: 2px solid #6699CC;
  border-left: none;
  margin-right: 200px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sectionRight{
  background: #C5D6E2;
  border: 2px solid #6699CC;
  border-right: none;
  margin-right: 0px;
  margin-left: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.sectionClouds{
  padding-top: 200px;
  background: #C5D6E2;
  background-image: url("/img/repeatableCloudsFlipped.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: 1000px;
  border-bottom: 2px solid #6699CC;
}
.sectionClean{
  background: white;
}
.thumbnailLarge{
  width: 345px;
  height: 345px;
  background: white;
}
.thumbnailTall{
  width: 200px;
  height: 290px;
  background: white;
  margin: 0 auto 1em;
}
.review{
  width: 200px;
  height: 260px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 20px auto 0;
  transition: all .2s ease-out;
}
.leftTri > .review{
  margin-left: 0;
}
.rightTri > .review{
  margin-right: 0;
}
.reviewLarge{
  width: 240px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transition: all .2s ease-out;
}
#team h2{
  margin-bottom: 2em;
}
#team .leftTri, #team .middleTri, #team .rightTri{
  text-align: center;
}
#team img{
  margin-bottom: 1.5em;
}
.accordion{
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordionTitle{
  margin-right: 30px;
}
.accordionSub{
  margin-left: 30px;
}
.active, .accordion:hover{
  background-color: #CCC;
}
.accordion:after{
  content: '\002B';
  float: right;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  margin-left: 5px;
}
.active:after{
  content: "\002D";
}
.panel{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
#opdracht1{
  background-color: rgba(76, 175, 78, 0.8);
}
#opdracht1.active, #opdracht1:hover{
  background-color: rgba(76, 175, 78);
}
#opdracht1.active{
  border-bottom: 1px solid rgb(196, 217, 93);
}
#opdracht1 + .panel{
  background-color: rgba(76, 175, 78);
  background-image: url(/img/backgroundDraak.png);
  background-size: 700px;
}
#opdracht2{
  background-color: rgba(141, 97, 80, 0.8);
}
#opdracht2.active, #opdracht2:hover{
  background-color: rgb(141, 97, 80);
}
#opdracht2.active{
  border-bottom: 1px solid rgb(247, 156, 126);
}
#opdracht2 + .panel{
  background-color: rgb(141, 97, 80);
  background-image: url(/img/backgroundMinotaurus.png);
  background-size: 700px;
}
#opdracht3{
  background-color: rgba(239, 68, 56, 0.8);
}
#opdracht3.active, #opdracht3:hover{
  background-color: rgb(239, 68, 56);
}
#opdracht3.active{
  border-bottom: 1px solid rgb(248, 153, 29);
}
#opdracht3 + .panel{
  background-color: rgb(239, 68, 56);
  background-image: url(/img/backgroundFeniks.png);
  background-size: 700px;
}
#opdracht4{
  background-color: rgba(44, 55, 136, 0.8);
}
#opdracht4.active, #opdracht4:hover{
  background-color: rgb(44, 55, 136);
}
#opdracht4.active{
  border-bottom: 1px solid rgb(19, 17, 53);
}
#opdracht4 + .panel{
  background-color: rgb(44, 55, 136);
  background-image: url(/img/backgroundZeemeermin.png);
  background-size: 700px;
}
#opdracht5{
  background-color: rgba(245, 165, 200, 0.8);
}
#opdracht5.active, #opdracht5:hover{
  background-color: rgb(245, 165, 200);
}
#opdracht5.active{
  border-bottom: 1px solid rgb(249, 242, 191);
}
#opdracht5 + .panel{
  background-color: rgb(245, 165, 200);
  background-image: url(/img/backgroundEenhoorn.png);
  background-size: 700px;
}
.panelWrapper{
  width: 600px;
  margin: 0 auto 20px;
  padding: 100px 0 0;
}
.panelWrapper img{
  height: 300px;
  float: left;
  margin-right: 100px;
}
.panel .container{
  width: 860px;
  padding: 30px;
  background: rgba(255, 255, 255, .5);
  margin-bottom: 100px;
}
.panel .container p{
  margin-bottom: 0;
}
footer{
  height: 500px;
  padding-top: 200px;
  background-image: url("/img/repeatableCloudsFlipped.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: 1000px;
}
#footer ul{
  width: 200px;
  color: white;
  font-size: 12px;
  line-height: 2em;
  grid-row: 1;
  padding: 5px;
}
#footer ul .listTitle{
  font-weight: 700;
}
#footer ul li a{
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
#footer ul li a:hover{
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
  text-underline-offset: 3px;
}
#footer ul li + .listTitle{
  margin-top: 2em;
}

/* Typography */
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}
p{
  margin-bottom: 1.5em;
}
a{
  color: #000;
  text-decoration: none;
}
.accordion{
  font-family: 'Crimson Text', serif;
  font-size: 22px;
}
.accordionTitle{
  font-weight: 700;
}
h1{
  font-family: 'Crimson Text', serif;;
  font-size: 2em;
  margin-bottom: 1.5em;
  font-weight: 700;
}
h1.center{
  text-align: center;
  margin: 0;
}
h2{
  font-family: 'Crimson Text', serif;;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1.5em;
}
h3{
  font-family: 'Crimson Text', serif;;
  font-size: 1.5em;
  font-weight: 700;
}
h3 + p{
  font-size: 0.8em;
  margin-bottom: 1.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
h4{
  font-family: 'Crimson Text', serif;;
  font-size: 1.3em;
  font-weight: 400;
  padding-left: 32px;
}
h4 + p{
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 32px;
}

.panelWrapper h2{
  font-family: 'ComicRunes';
  font-size: 2em;
  margin-top: 50px;
  line-height: 1em;
  margin-bottom: .5em;
}
.panelWrapper h3{
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
  font-weight: 600;
}